<template>
  <article class="space-y-4 rounded-xl border border-zinc-100 px-6 pt-4">
    <h3
      class="bg-gradient-to-r from-pink-500 to-violet-500 bg-clip-text text-4xl text-xl font-bold tracking-tight text-transparent"
    >
      {{ title }}
    </h3>
    <div class="h-px w-full bg-zinc-100"></div>
    <div class="text-md text-zinc-600" v-if="description">
      <p v-for="desc in description" :key="desc">{{ desc }}</p>
    </div>
    <div
      class="item-center -mx-6 flex justify-center overflow-hidden rounded-b-xl bg-gradient-to-br from-violet-100 to-pink-100 px-6 py-4"
      v-if="link"
    >
      <a class="font-medium transition hover:text-violet-500" :href="link">
        Читать полный текст
      </a>
    </div>
  </article>
</template>

<script setup>
defineProps({
  title: {
    type: String,
    required: true,
  },
  description: {
    type: Array,
    default: null,
  },
  link: {
    type: String,
    default: null,
  },
});
</script>
