<template>
  <div class="fixed inset-0 flex justify-center sm:px-8">
    <div class="relative flex w-full max-w-7xl lg:px-8">
      <div class="w-full bg-white ring-1 ring-zinc-100"></div>
    </div>
  </div>
  <div class="hidden lg:block absolute inset-y-0 h-full w-full lg:px-8" aria-hidden="true">
    <div class="relative mx-auto h-full w-full max-w-6xl">
      <BgPattern
        patternId="right"
        class="right-full translate-y-1/3 translate-x-1/4 sm:translate-x-1/2 md:translate-y-1/2 lg:translate-x-full"
      />
      <BgPattern
        patternId="left"
        class="left-full -translate-y-3/4 -translate-x-1/4 sm:-translate-x-1/2 md:-translate-y-1/2 lg:-translate-x-full"
      />
    </div>
  </div>
</template>

<script setup>
import BgPattern from "~/components/layouts/BgPattern.vue";
</script>
