<template>
  <svg
    class="absolute"
    width="200"
    height="230"
    fill="none"
    viewBox="0 0 200 230"
  >
    <defs>
      <pattern
        :id="patternId"
        x="0"
        y="0"
        width="20"
        height="20"
        patternUnits="userSpaceOnUse"
      >
        <rect
          x="0"
          y="0"
          width="4"
          height="4"
          class="text-zinc-200"
          fill="currentColor"
        ></rect>
      </pattern>
    </defs>
    <rect width="200" height="230" :fill="file"></rect>
  </svg>
</template>

<script setup>
import { computed } from "vue";

const props = defineProps({
  patternId: {
    type: String,
    required: true,
  },
});

const file = computed(() => `url(#${props.patternId})`);
</script>
