<template>
  <Background />
  <div class="relative">
    <slot />
    <Footer />
  </div>
</template>

<script setup>
import Footer from "~/components/layouts/Footer.vue";
import Background from "~/components/layouts/Background.vue";
</script>
