<template>
  <Layout>
    <Hero />
    <Gallery :items="gallery">
      <template v-slot:items="{ item }">
        <GalleryItem
          :src-url="item.src"
          :alt-title="item.alt"
          :class="item.classes"
        />
      </template>
    </Gallery>
    <div class="mx-auto mt-24 max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12">
        <div class="mx-auto flex max-w-2xl justify-between lg:max-w-5xl">
          <div class="w-96 space-y-8">
            <img
              :src="Photo8"
              class="overflow-hidden rounded-2xl object-cover shadow-md"
              alt=""
            />
            <img
              :src="Photo9"
              class="overflow-hidden rounded-2xl object-cover shadow-md"
              alt=""
            />
            <img
              :src="Photo10"
              class="overflow-hidden rounded-2xl object-cover shadow-md"
              alt=""
            />
            <img
              :src="Photo11"
              class="overflow-hidden rounded-2xl object-cover shadow-md"
              alt=""
            />
            <img
              :src="Photo12"
              class="overflow-hidden rounded-2xl object-cover shadow-md"
              alt=""
            />
          </div>
          <div class="max-w-xl flex-1 space-y-8">
            <Article
              v-for="article in articles"
              :key="article.title"
              v-bind="article"
            />
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script setup>
import { computed } from "vue";
import Layout from "~/components/layouts/Layout.vue";
import Hero from "~/components/heroes/Hero.vue";
import Gallery from "~/components/gallery/Gallery.vue";
import GalleryItem from "~/components/gallery/GalleryItem.vue";
import Photo1 from "~/resources/images/photo_1.jpg";
import Photo2 from "~/resources/images/photo_2.jpg";
import Photo3 from "~/resources/images/photo_3.jpg";
import Photo4 from "~/resources/images/photo_4.jpg";
import Photo5 from "~/resources/images/photo_5.jpg";
import Photo8 from "~/resources/images/photo_8.jpg";
import Photo9 from "~/resources/images/photo_9.jpg";
import Photo10 from "~/resources/images/photo_10.jpg";
import Photo11 from "~/resources/images/photo_11.jpg";
import Photo12 from "~/resources/images/photo_12.png";
import Article from "~/components/article/Article.vue";

const gallery = computed(() => [
  {
    src: Photo1,
    alt: "Photo1",
    classes: "rotate-2",
  },
  {
    src: Photo2,
    alt: "Photo2",
    classes: "-rotate-2",
  },
  {
    src: Photo3,
    alt: "Photo3",
    classes: "",
  },
  {
    src: Photo4,
    alt: "Photo4",
    classes: "rotate-2",
  },
  {
    src: Photo5,
    alt: "Photo5",
    classes: "-rotate-2",
  },
]);

const articles = computed(() => [
  {
    title:
      "Использование дидактических игр для формирования и развития произносительных навыков у детей с ОВЗ",
    description: [
      "Работа по коррекции звукопроизносительных способностей у детей дошкольного возраста приобрела на сегодняшний день особую актуальность.",
      "Порой не так трудно поставить ребенку звук, как автоматизировать его и ввести в речь.",
      "Как же сделать занятие по автоматизации звуков интересным, разнообразным и в тоже время продуктивным?",
      "Мы знаем, что ведущая деятельность в дошкольном возрасте – игровая. Следовательно, в логопедической работе необходимо использовать наглядность и игровые приемы. Например, дидактические игры.",
    ],
    link: "/Доклад. Использование дидактических игр.docx",
  },
  {
    title:
      "Презентация: Использование средств альтернативной коммуникации для формирования и развития речевых навыков у детей РАС",
    description: [
      "Многие родители боятся, что дети, освоив навыки альтернативной коммуникации, так и не захотят разговаривать.",
      "Однако, опасения их беспочвенны. В большинстве случаев средства альтернативной коммуникации, наоборот, лишь подстегивает развитие разговорной речи.",
      "А если ребенок все же остался невербальным, у него, по крайней мере, появится хоть какая то возможность коммуникации.",
    ],
    link: "/Альтернативная коммуникация.pdf",
  },
  {
    title:
      "Презентация: Использование дидактических игр для формирования и развития произносительных навыков у детей с ОВЗ",
    description: [
      "Дидактические игры – эффективное средство закрепления правильного произношения звуков.",
      "Игровые приемы освобождают детей от утомительной неподвижности на логопедическом занятии, помогают чередовать виды речевой деятельности, позволяют ускорить процесс автоматизации звуков, включая все анализаторы.",
      "Все это делает коррекционную работу разнообразной, поддерживает интерес к логопедическим занятиям, помогает наиболее качественно подготовить детей к школе.",
    ],
    link: "/Практического опыта учителя-логопеда 2022.pdf",
  },
  {
    title: "Конспект логопедического подгруппового занятия с детьми с ОВЗ",
    description: [
      "Тема «Профессии. Автоматизация звука «Ч» в словах»",
      "Цель: расширить знания детей по теме «Профессии», закрепить произношение звука «Ч»",
    ],
    link: "/Конспект занятия Профессии.docx",
  },
  {
    title: "Конспект логопедического занятия",
    description: ["Тема «Домашние животные»"],
    link: "/Конспект Домашние животные 2022.docx",
  },
  {
    title: "Эссе «Моя профессия учитель-логопед»",
    description: [
      "Работа учителя- логопеда многогранна и гораздо шире общепринятых представлений о ней. Здесь ты являешься и наставником, и помощником, и, конечно же, другом ребенка. И знаю я это не понаслышке: вот уже 15 лет работаю логопедом с детьми с ОВЗ (интеллектуальная недостаточность, РАС, синдром Дауна).",
    ],
    link: "/Эссе.docx",
  },
]);
</script>
