<template>
  <div class="mt-9 sm:px-8">
    <div class="mx-auto max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12">
        <div class="mx-auto flex max-w-2xl justify-between lg:max-w-5xl">
          <div class="max-w-xl">
            <h1 class="text-4xl font-bold tracking-tight text-zinc-600">
              <span
                class="bg-gradient-to-r from-pink-500 to-violet-500 bg-clip-text text-transparent"
              >
                Каждый ребенок - ориентир, на который направлены наши знания,
                любовь и поддержка!
              </span>
            </h1>
            <p class="mt-6 text-xl text-zinc-500">
              Быть педогогом - большая ответственность. Любовь к детям, общение
              и взаимопонимание с ними, поддержка и помощь - вот то, что
              помогает верить в успех и любить свою работу.
            </p>
          </div>
          <div class="flex items-center space-x-4">
            <div class="w-48">
              <h3 class="text-xl font-semibold text-zinc-600">
                Кузьмичева Ирина Валентиновна
              </h3>
              <h4 class="font-normal text-zinc-500">Учитель-логопед</h4>
              <h4 class="font-normal text-zinc-500">
                МБДОУ "Детский сад" №110
              </h4>
            </div>
            <img
              :src="Photo6"
              alt="Кузьмичева Ирина Валентиновна"
              class="w-40 overflow-hidden rounded-2xl object-cover shadow-md"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import Photo6 from "~/resources/images/photo_6.jpg";
</script>
