<template>
  <div class="mt-16 sm:mt-20">
    <div class="-my-4 flex justify-center gap-5 overflow-hidden py-4 sm:gap-8">
      <slot name="items" v-for="item in items" :item="item" />
    </div>
  </div>
</template>

<script setup>
defineProps({
  items: {
    type: Array,
    default: [],
  },
});
</script>
