<template>
  <div
    class="relative aspect-[9/10] w-44 flex-none overflow-hidden rounded-xl bg-zinc-100 sm:w-72 sm:rounded-2xl"
  >
    <img
      :alt="altTitle"
      :src="srcUrl"
      class="absolute inset-0 h-full w-full object-cover"
    />
  </div>
</template>

<script setup>
defineProps({
  srcUrl: {
    type: String,
    required: true,
  },
  altTitle: {
    type: String,
    default: "Фото",
  },
});
</script>
